*
{
	box-sizing: border-box;
	margin: 0;
	font-family: Lato;
}
body
{
	text-align: center;
	overflow: hidden;
}
header
{
	background-color: green;
	/*position: fixed;*/
	top: 0;
	width: 100%;
	box-shadow: 0px 0px 35px rgba(0,0,0,0.2);
	height: 100vh;
	transition: 1s;
}
header.smallheader{
	height: 12vh;
	transition: 1s;
}

#welcometext
{
	padding-top: 250px;
}
.hidden{
	display: none;
}

h1
{
	text-align: center;
	font-family: Lato;
	padding-top: 50px;
	/*padding-bottom: 50px;*/
	display: inline-block;
	width: 100%;
}
h2
{
	text-align: center;
	font-family: Lato;
	display: inline-block;
	color: #fff;
}
#welcometext h1{
	width: 49%;
	display: inline-block;
}
#welcometext h2{
	width: 100%;
	display: inline-block;
}
.button1{
	float: left;
	background-color: white;
	width: 50px;
	height: 50px;

	top: 0px;
	border-radius: 50%;
	line-height: 50px;
	margin: 25px;
	cursor: pointer;
}
.button1:hover
{
	box-shadow: 0px 0px 20px rgba(255,255,255,0.5);
}
#showBTCbutton, #showBTCbutton2{
	background-color: #fff;
}
#showETHbutton, #showETHbutton2{
	background-color: #fff;
}
#showLTCbutton, #showLTCbutton2{
	background-color: #fff;
}
.button2{
	float: left;
	background-color: white;
	width: 50px;
	height: 50px;

	top: 0px;
	border-radius: 50%;
	line-height: 50px;
	margin: 25px;
	cursor: pointer;
}
.button2:hover
{
	box-shadow: 0px 0px 20px rgba(255,255,255,0.5);
}
#stap1{
	position: absolute;
	top: 35%;
	width: 300px;
	left: calc(50% - 150px);
	transition: 1s;
}
#stap2{
	position: absolute;
	top: 35%;
	width: 300px;
	left: calc(50% - 150px);
	transition: 1s;
}
#vergelijkButton{
	height: 50px;
	width: 150px;
	margin: 0 auto;
	top: 35%;
	background-color: white;
	position: absolute;
	left: calc(50% - 75px);
	border-radius: 25px;
	color: green;
	font-family: Lato;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	transition: 1s;
}
.notactiveleft{
	transition: 1s;
	left: -1500px !important;
}
.notactiveright{
	transition: 1s;
	left: 3500px !important;
}

div#cryptodiv
{
	display: inline-block;
	width: 50vw;
	height: 100vh;
	
	/*padding-top: 250px;*/
	transition: 0.5s;
}
div#cryptodiv2
{
	display: inline-block;
	height: 100vh;
	width: 49vw;

	/*padding-top: 250px;*/
}

table
{
	display:block;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	padding: 50px;
	margin-bottom: 50px;
	/*height: 100px;
	overflow: hidden;*/
}
table:hover{
	height: 1000px;
}

tr
{
	display: inline-block;
	width: 100%;
}

td
{
	display: inline-block;
	text-align: center;
	width: 50%;
	font-family: Lato;
	font-weight: 300;
	line-height: 30px;
	vertical-align: center;
	height: 30px;
	border-style: solid;
	border-color: #ccc;
	border-width: 0px;
}

td:nth-child(odd)
{
	font-weight: 700;
}

tr:nth-child(even)
{
	background-color: #eee;
}

